# **Brain and Cognitive Society, IIT Kanpur**
## **Introduction to Deep Learning Workshop**
**This python notebook is an assingment on ML/DL**

In this assingment you will solve a **regression** problem of predicting House prices using basic python libraries, and build a **neural network** for handwritten digit identification using **TensorFlow**

## **Linear Regression**
We will use Linear regression for predicting house prices

We are using a Kaggle dataset- https://www.kaggle.com/harlfoxem/housesalesprediction

In [ ]:
# Lets import required Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

### **Dataset Preparation**

In [ ]:
# Execute this cell for loading dataset in a pandas dataframe

from IPython.display import clear_output
!wget --no-check-certificate 'https://docs.google.com/uc?export=download&id=16x6-8Znn2T50zFwVvKlzsdN7Jd1hpjct' -O Linear_regression_dataset

data_df = pd.read_csv("Linear_regression_dataset")

--2023-06-02 14:03:26--  https://docs.google.com/uc?export=download&id=16x6-8Znn2T50zFwVvKlzsdN7Jd1hpjct
Resolving docs.google.com (docs.google.com)... 142.251.2.101, 142.251.2.102, 142.251.2.100, ...
Connecting to docs.google.com (docs.google.com)|142.251.2.101|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-14-3o-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/e87k4vbbig9ksdp7bcl6o8d0vbsei8tn/1685714550000/17346214133729595847/*/16x6-8Znn2T50zFwVvKlzsdN7Jd1hpjct?e=download&uuid=7218de6d-e06f-47a4-a29e-2578fa350f59 [following]
Warning: wildcards not supported in HTTP.
--2023-06-02 14:03:28--  https://doc-14-3o-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/e87k4vbbig9ksdp7bcl6o8d0vbsei8tn/1685714550000/17346214133729595847/*/16x6-8Znn2T50zFwVvKlzsdN7Jd1hpjct?e=download&uuid=7218de6d-e06f-47a4-a29e-2578fa350f59
Resolving doc-14-3o-docs.googleusercontent.com (doc-14-3o-docs.googleusercontent.com)... 142.251.2.132, 2607:f8b0:4023:c0d::84
Connecting to doc-14-3o-docs.googleusercontent.com (doc-14-3o-docs.googleusercontent.com)|142.251.2.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2515206 (2.4M) [text/csv]
Saving to: ‘Linear_regression_dataset’

Linear_regression_d 100%[===================>]   2.40M  --.-KB/s    in 0.01s

2023-06-02 14:03:28 (193 MB/s) - ‘Linear_regression_dataset’ saved [2515206/2515206]

In [ ]:
# Lets have a quick Look at dataset

print("(No of rows, No of Columns) = ",data_df.shape)
data_df.head(10)

(No of rows, No of Columns) =  (21613, 21)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,...,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,...,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

So there are **19** features (of course we will not use id as feature :) ), and 1 variable to predict(price)

But note that the **date** column contain strings so first we will remove T00.. part from it and than convert it to numpy array.

In [ ]:
data_df['date'] = data_df['date'].str.replace('T000000','')                                         # Remove T000000 part from data column. Hint: search about .str.replace() method. :)  


data_array = np.array(data_df.drop('id',axis=1))                                              # Create a numpy array which does not have "id" field
assert (data_array.shape == (21613,20))                                                       # If the condition is True, the program continues execution as usual. However, if the condition is False, it raises an AssertionError and halts the program's execution.

#data_df.head()

Now the next task is **normalization**.

We are performing Z-Score Standardization

We will scale each column of dataset by x -> (x-u)/s

where u is mean(x), and s is standard deviation of u

In [ ]:
# Custom function to check for numeric values
def is_numeric(value):
    try:
        float(value)
        return True
    except ValueError:
        return False

# Convert the array elements to float, ignoring non-numeric values
data_array_numeric = np.array([[float(value) if is_numeric(value) else np.nan for value in row] for row in data_array])

# Calculate the mean of each column, ignoring NaN values
mean = np.nanmean(data_array_numeric, axis=0)

# Calculate the standard deviation of each column, ignoring NaN values
sd = np.nanstd(data_array_numeric, axis=0)

# Normalize the array
data_array_norm = (data_array_numeric - mean) / sd
print(data_array_norm.shape)
# Display the results
print("Mean:\n", mean)
print("\nStandard Deviation:\n", sd)
print("\nNormalized Array:\n", data_array_norm)

(21613, 20)
Mean:
 [ 2.01439027e+07  5.40088142e+05  3.37084162e+00  2.11475732e+00
  2.07989974e+03  1.51069676e+04  1.49430898e+00  7.54175728e-03
  2.34303428e-01  3.40942951e+00  7.65687318e+00  1.78839069e+03
  2.91509045e+02  1.97100514e+03  8.44022579e+01  9.80779398e+04
  4.75600525e+01 -1.22213896e+02  1.98655249e+03  1.27684557e+04]

Standard Deviation:
 [4.43647983e+03 3.67118703e+05 9.30040315e-01 7.70145340e-01
 9.18419649e+02 4.14195533e+04 5.39976403e-01 8.65151962e-02
 7.66299841e-01 6.50727992e-01 1.17543156e+00 8.28071820e+02
 4.42564804e+02 2.93727313e+01 4.01669947e+02 5.35037884e+01
 1.38560505e-01 1.40825084e-01 6.85375448e+02 2.73035480e+04]

Normalized Array:
 [[-0.65134259 -0.86671733 -0.39873715 ... -0.30607896 -0.9433552
  -0.26071541]
 [-0.60716342 -0.00568792 -0.39873715 ... -0.74634143 -0.43268619
  -0.18786773]
 [ 1.42507844 -0.98084935 -1.47395936 ... -0.13565477  1.07013975
  -0.17237524]
 ...
 [-0.73925012 -0.37586519 -1.47395936 ... -0.60432128 -1.41025258
  -0.39414129]
 [ 1.40050941 -0.38158814 -0.39873715 ...  1.02891048 -0.8412214
  -0.42051149]
 [-0.65089178 -0.58588173 -1.47395936 ... -0.60432128 -1.41025258
  -0.41794772]]

The last step is to make train and test dataset and to create seperate vector for price

In [ ]:
labels = data_array_norm[:,1]                                                                                                            # extract the price column from data

x_array_norm = np.delete(data_array_norm,1,axis=1)                                                                                                      # delete the price column from data_array_norm. Hint: use np.delete()

x_train, x_test, y_train, y_test = train_test_split(x_array_norm,labels,test_size=0.15,random_state=42,shuffle=True)    # splitting data into test and train set.

print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(18371, 19) (3242, 19) (18371,) (3242,)

### **Loss and gradient descent**
We will use mean squared error(MSE) as loss

Use the gradient descent algorithm which you learned from tutorials

Your task is to complete the following functions

In [ ]:
def loss(y_pred,y_true):
  """
  input:
  y_pred = [array] predicted value of y
  y_true = [array] ground truth
  
  output:
  mse: [scalar] the MES loss
  """
  mse = mse = np.mean(np.sum((y_pred-y_true)**2))                      # fill code here

  return mse

In [ ]:
def y(x,a,b):
  """
  This function should return predicted value of y = ax+b
  input:
  x: [array] the feature vector of shape (m,n)
  a: [array] weights of shape (n,)
  b: [scalar] bias
  
  output:
  y_pred: [array] predicted value of y of shape (m,)
  """

  m,n = x.shape
  y_pred = np.dot(x,a)+b                    # fill code here

  assert(y_pred.shape == (m,))
  return y_pred

In [ ]:
def gradient(x,a,b,y_true):
  """
  This function shoud return gradient of loss
  input:
  x: [array] the feature vector of shape (m,n)
  a: [array] weights of shape (n,)
  b: [scalar] bias
  y_true: [array] ground truth of shape (m,)

  output:
  grad: [tuple] a tuple (derivative with respect to a[array of shape(n,)], derivative with respect to b[scalar])
  """
  m,n = x.shape
  yp = y(x,a,b)
  da =  (2/m) * np.dot(x.T, yp-y_true)          # write code to calculate derivative of loss with respect to a
  db =  (2/m) * np.sum(yp-y_true)             # write code to calculate derivative of loss with respect to b

  assert(da.shape ==(n,))
  return (da,db)

In [ ]:
def gradient_descent(x,y_true,learning_rate=0.001,epochs = 100):
  """
  This function perfroms gradient descent and minimizes loss
  input:
  x: [array] the feature vector of shape (m,n)
  y_true: [array] ground truth of shape (m,)
  
  output:
  loss: [array] of size (epochs,)
  weights: [tuple] (a,b)
  """
  m,n = x.shape
  loss_mse = np.empty(shape=(0,))                                # initialize empty list to store loss
  a = np.full((n,), 0.5)                                       # initialize a- weights and b- bias
  b = 0.5
  alpha=learning_rate
  for i in range(epochs):  
    # calculate derivative using gradient() function
    # apply gradient descent now to update a and b
    yp=y(x,a,b)
    l_mse = loss(yp,y_true)                               # calculate loss at this point
    np.append(loss_mse,l_mse)

    [da,db]=gradient(x,a,b,y_true)

    a=a-alpha*da
    b=b-alpha*db

    print("Epoch ",i+1," Completed!","loss = ",l_mse)
  
  print("Training completed!!")

  assert(a.shape==(n,))

  return (loss_mse,a,b)

### **Training**

In [ ]:
epochs = 30              # tweak this!!!
learn_rate = 0.1755        # choose learning rate wisely otherwise loss may diverge!!

train_loss,a,b = gradient_descent(x_train,y_train,learn_rate,epochs)

Epoch  1  Completed! loss =  189842.12351212374
Epoch  2  Completed! loss =  119954.67546238216
Epoch  3  Completed! loss =  81818.186147926
Epoch  4  Completed! loss =  57253.271017153544
Epoch  5  Completed! loss =  40827.145341096075
Epoch  6  Completed! loss =  29698.667720058453
Epoch  7  Completed! loss =  22109.827306535335
Epoch  8  Completed! loss =  16913.851537308346
Epoch  9  Completed! loss =  13345.978633424374
Epoch  10  Completed! loss =  10890.368675931313
Epoch  11  Completed! loss =  9196.769680656973
Epoch  12  Completed! loss =  8026.3607431614955
Epoch  13  Completed! loss =  7215.830677176915
Epoch  14  Completed! loss =  6653.264454999887
Epoch  15  Completed! loss =  6261.835889011408
Epoch  16  Completed! loss =  5988.7267550549495
Epoch  17  Completed! loss =  5797.57303423272
Epoch  18  Completed! loss =  5663.303772421707
Epoch  19  Completed! loss =  5568.608617388249
Epoch  20  Completed! loss =  5501.516724054601
Epoch  21  Completed! loss =  5453.735399936555
Epoch  22  Completed! loss =  5419.508848330485
Epoch  23  Completed! loss =  5394.833372646345
Epoch  24  Completed! loss =  5376.917140055593
Epoch  25  Completed! loss =  5363.807890205248
Epoch  26  Completed! loss =  5354.136081700635
Epoch  27  Completed! loss =  5346.937458280529
Epoch  28  Completed! loss =  5341.53030683835
Epoch  29  Completed! loss =  5337.430416771387
Epoch  30  Completed! loss =  5334.292056886979
Training completed!!

### **Evaluation and Visualization**
Lets plot how loss varies with epochs

In [ ]:
test_loss = gradient_descent(x_train,y_train,learn_rate,epochs).loss_mse()

plt.plot(range(epochs), test_loss)
plt.xlabel('Epochs')
plt.ylabel('Loss')
plt.title('Loss vs Epochs')
plt.show()

Epoch  1  Completed! loss =  189842.12351212374
Epoch  2  Completed! loss =  119954.67546238216
Epoch  3  Completed! loss =  81818.186147926
Epoch  4  Completed! loss =  57253.271017153544
Epoch  5  Completed! loss =  40827.145341096075
Epoch  6  Completed! loss =  29698.667720058453
Epoch  7  Completed! loss =  22109.827306535335
Epoch  8  Completed! loss =  16913.851537308346
Epoch  9  Completed! loss =  13345.978633424374
Epoch  10  Completed! loss =  10890.368675931313
Epoch  11  Completed! loss =  9196.769680656973
Epoch  12  Completed! loss =  8026.3607431614955
Epoch  13  Completed! loss =  7215.830677176915
Epoch  14  Completed! loss =  6653.264454999887
Epoch  15  Completed! loss =  6261.835889011408
Epoch  16  Completed! loss =  5988.7267550549495
Epoch  17  Completed! loss =  5797.57303423272
Epoch  18  Completed! loss =  5663.303772421707
Epoch  19  Completed! loss =  5568.608617388249
Epoch  20  Completed! loss =  5501.516724054601
Epoch  21  Completed! loss =  5453.735399936555
Epoch  22  Completed! loss =  5419.508848330485
Epoch  23  Completed! loss =  5394.833372646345
Epoch  24  Completed! loss =  5376.917140055593
Epoch  25  Completed! loss =  5363.807890205248
Epoch  26  Completed! loss =  5354.136081700635
Epoch  27  Completed! loss =  5346.937458280529
Epoch  28  Completed! loss =  5341.53030683835
Epoch  29  Completed! loss =  5337.430416771387
Epoch  30  Completed! loss =  5334.292056886979
Training completed!!

AttributeError: ignored

## **Deep Learning**
In this section We will build a simple multilayer perceptron network(**MLP**) in TensorFlow

In [ ]:
# Lets import the required libraries
import numpy as np
from tensorflow import keras
from tensorflow.keras import layers
import matplotlib.pyplot as plt

### **Load Dataset**
We will be using MNIST dataset of handwritten digits

Just run the cell below to load dataset

In [ ]:
mnist = keras.datasets.mnist
(x_train, y_train), (x_test, y_test) = mnist.load_data()
print("No. of training examples = ",x_train.shape[0])
print("Size of each image in dataset = ",x_train.shape[1:])
print("No. of test examples = ",x_test.shape[0])

In [ ]:
# Run this cell to visualize some of the images from dataset

n = 5    # = no. of images to visualize

index = np.random.choice(x_train.shape[0],5)  # choose random index
print("label: ",end="")

for i,ind in enumerate(index):
    plt.subplot(1,n,i+1)
    plt.imshow(x_train[ind],cmap="gray")
    plt.axis("off")
    print(y_train[ind],end="       ")

plt.show()

#### Preprocess dataset
Since we are building a MLP model the input to the model should be a vector rather than a 28 by 28 matrix.

So your **First Task** is to flatten the images

(Hint: use *reshape()* method of arrays...)

Next, create validation dataset out of training dataset.

You can use 50K images for training and 10K for validation

In [ ]:
# Flatten the images into 1-d vectors

x_train_flatten = ...                                       # flatten the images of training set 
x_test_flatten = ...                                        # flatten th eimages of test set


# Divide the training data into training and validation data....

n_validation = 10000                                        # choose number of images to be used for validation

x_validation = ...
y_validation = ...

x_train_flatten = ...
y_train = ...

### **Build a model**
You can choose whatever architechure you want, but ensure that it is **not too deep** as that will take too much time to train and **not too shallow** as that will give very low accuracy.

In [ ]:
model = keras.models.Sequential([
    ...
])

# Make a graphical representation of the model...
keras.utils.plot_model(model,show_shapes=True)
model.summary

#### Compile and Train
Choose an optimizer- method that minimizes loss function

**adam** optimizer is one of the popular choices. You should read about these online

In [ ]:
model.compile(optimizer="...",loss = "...",metrics=["accuracy"])

n_epochs = ...              # set number of epochs
batch_size = 512            # you can tweak with these parametrs
history = model.fit(...)

### **Evaluate**
Evaluate your model on test data.

And Show some results

In [ ]:
results = model.evaluate(...)
print("Loss = ",results[0])
print("Accuracy = ",results[1]*100,"%")

# Plot Accuracy...
plt.plot(..., label="Training accuracy")
plt.plot(..., label="validation Accuracy")
plt.title("Model accuracy")
plt.xlabel("Epochs")
plt.ylabel("Accuracy")
plt.legend()
plt.show()

# Similarly write code to plot loss...
...

Lets show our results on images from testing dataset

In [ ]:
n = ...   # = no. of images to see predictions on

index = np.random.choice(...)  # choose random index from test data
print("label: ")

for i,ind in enumerate(index):
    plt.subplot(1,n,i+1)
    plt.imshow(...)             # fill code to show images from test set
    plt.axis("off")
    print(y_test[ind],end="       ")

plt.show()
print("Predicted value: ")

# Now lets print the predictions

for i,ind in enumerate(index):
    # write code to predict and print digit in image
    # Hint: the output of the model is a 10-d vector which gives probabilties
    # The digit in the image would be the class for which probability is hghest...

    digit = ...
    print(digit,end="      ")

That's it you have completed the assignment !!

We hope that you learned something from this exercise

### Credits:

**Leaders:**

Mohit Kulkarni

Shivanshu Tyagi

**Scretaries:**

Sahil Bansal

Shashwat Gupta

Rashmi Sharma